<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imcooking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.imcooking"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".utils.AppBaseActivity" />
        <activity android:name=".activity.home.HomeSearchActivity1" />
        <activity android:name=".activity.main.setup.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".activity.main.setup.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".activity.main.setup.ForgotPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" >

        </activity>
        <activity
            android:name=".activity.Sub.Foodie.ManageAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sub.Foodie.ChefILove"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sub.Foodie.PaymentMethod"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sub.Foodie.FavoriteCusine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sub.Foodie.Setting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.Sub.Foodie.Help"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.Sub.Foodie.Help1" />
        <activity
            android:name=".activity.Sub.Foodie.EditProfile"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.Sub.Foodie.ChefProfile"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY" />

        <activity android:name=".activity.Sub.Foodie.OtherDishDishActivity" />
        <activity
            android:name=".activity.Sub.Foodie.AddAddressActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".activity.Sub.Foodie.SelectLocActivity" />
        <activity android:name=".activity.Sub.Foodie.CartActivity" />
        <activity
            android:name=".activity.Sub.Chef.ChefEditDish"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.Sub.Chef.ChefEditProfile"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.Sub.Chef.ChangePassword"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".activity.Sub.Chef.ChefActivateDeactivate" />
        <activity android:name=".activity.Sub.Foodie.CuisineList" />
        <activity android:name=".activity.Sub.Foodie.Payment1Activity" />
        <activity android:name=".activity.Sub.ChefOrderDeatilsActivity" />
        <activity android:name=".activity.Sub.Chef.ChefOrderDetailsActivity" />
        <activity android:name=".activity.Sub.Chef.SelectCuisines" />
        <activity android:name=".activity.Sub.Chef.Test1" />
        <activity android:name=".activity.Sub.Foodie.FilterActivity" />
        <activity android:name=".activity.home.Main2Activity" />
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.Sub.Foodie.AddCardActivity"/>
        <activity android:name=".MainActivity1"/>
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_d4898dae685e33fbcc8f4326d824980b611fab1d"/>
        <activity android:name=".activity.Sub.Foodie.PayActivity" />


        <!-- Firebase Notifications -->

        <service android:name=".notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ./Firebase Notifications -->
        <activity android:name=".activity.home.MyActivity">
        </activity>
    </application>

</manifest>