<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imcooking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.home.HomeSearchActivity1" />
        <activity
            android:name=".activity.main.setup.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.main.setup.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.main.setup.ForgotPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.Sub.Foodie.ManageAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sub.Foodie.ChefILove"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sub.Foodie.PaymentMethod"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sub.Foodie.FavoriteCusine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sub.Foodie.Setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sub.Foodie.Help"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.Sub.Foodie.Help1" />
        <activity
            android:name=".activity.Sub.Foodie.EditProfile"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".activity.Sub.Foodie.ChefProfile" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY" />

        <activity android:name=".activity.Sub.Foodie.FilterHomeActivity" />
        <activity android:name=".activity.Sub.Foodie.OtherDishActivity" />
        <activity
            android:name=".activity.Sub.Foodie.AddAddressActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.Sub.Foodie.SelectLocActivity" />
        <activity android:name=".activity.Sub.Foodie.CartActivity" />
        <activity
            android:name=".activity.Sub.Chef.ChefEditDish"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.Sub.Chef.ChefEditProfile" />
        <activity android:name=".activity.Sub.Chef.ChangePassword" />
        <activity android:name=".activity.Sub.Chef.ChefActivateDeactivate" />
        <activity android:name=".activity.Sub.Foodie.CuisineList"></activity>
    </application>

</manifest>